@using Orchard.CalendarEvents.Models
@using Orchard.ContentManagement;
@{
    ContentItem contentItem = Model.ContentItem;
    CalendarPart calendar = (CalendarPart)contentItem.Get(typeof(CalendarPart));
}

<p>
   @calendar.ShortDescription
</p>
