@using Orchard.CalendarEvents.Extensions
@{ Layout.Title = T("Event Properties").ToString(); }

<div class="actions"><a class="button primaryAction" href="@Url.EventsForAdmin()">@T("Back to List")</a></div>
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type
    @Display(Model)
}